@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>BeBlue : Todo List</h1>
</div>

<div class="row">

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">ToDo List</h2>
            </div>
            <div class="panel-body">
                <div class="row" data-bind="foreach: todoitems">
                    <div class="col-md-2 col-md-offset-1"><span data-bind="text: Description" ></span></div>
                    <div class="col-md-2"><strong><span data-bind="text: IsDone"></span></strong></div>
                    <div class="col-md-2"><small><a href="#" data-bind="click: $parent.getTodoItemDetail">Details</a></small></div>
                    <div class="col-md-2"><small><a href="#" data-bind="click: $parent.getTodoItemDone">DONE</a></small></div>
                    <div class="col-md-2"><small><a href="#" data-bind="click: $parent.getTodoItemRemove">Remove</a></small></div>                    
               </div>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <!-- ko if:detail() -->
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>ToDo Details</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="">Developer</label>
                <div class="col-md-4">                   
                    <table class="table">
                        <tr><td data-bind="text: detail().PersonName"></td></tr>
                    </table>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="">Description</label>
                <div class="col-md-4">
                    <table class="table">
                        <tr><td data-bind="text: detail().Description"></td></tr>
                    </table>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="">Status</label>
                <div class="col-md-4">
                    <table class="table">
                        <tr><td data-bind="text: detail().IsDone"></td></tr>
                    </table>
                </div>
            </div>

        </fieldset>
    </form>
    <!-- /ko -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add ToDo</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addTodoItem">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputName">Developer</label>
                        <div class="col-md-8">
                            <select data-bind="options:people, optionsText: 'Name', value: newTodoItem.Person" class="form-control"></select>
                        </div>
                    </div>  

                    <div class="form-group" data-bind="with: newTodoItem">
                        <label class="col-md-4 control-label" for="inputDescription">Description</label>
                        <div class="col-md-8">
                            <input id="Description" required="" name="Description" placeholder="Description" class="form-control input-md" maxlength="10" type="text" data-bind="value:Description">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputIsDone">Status</label>
                        <div class="col-md-8">
                            <select data-bind="options: $root.resultChoices, optionsText: $data" id="IsDone" class="form-control"></select>
                        </div>
                    </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        </div>
    </div>
</div>